<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros Publicados - As nossas obras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Editora"/></a>
                </div>
            </div>
            <h1>Livros Publicados</h1>
        </div>

    </header>
    <h1>Livros Publicados</h1>
    <ul>
        <li>Livro 1</li>
        <li>Livro 2</li>
        <li>Livro 3</li>
    </ul>
</body>
</html>
